@import "flex.css";

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
header{

    color: #fff;
    background-color: #212121;
    align-items: center;
    min-width: 700px;
}


header a, header p{
    color: #fff;

}

img {
    width: 100%;
    height: auto;
}
.logo img{
    display: block;
    width: 50%;
}

.region, .search, .sign{
    font-size: 16px;
}
.phones{
    font-size: 18px;
}
.button{
    border: 2px solid orange;
}

nav a{
    color: darkgrey;
    margin: 10px auto;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: .015em;
}
nav a:hover {
    color: black;
}

.container{
    max-width: 1200px;
    min-width: 700px;
    margin: 0 auto;

}

.sign{
    min-width: 200px;
}


#slider li {
    display: none;
    position: relative;
}
#slider li.active {
    display: block;
    min-width: 700px;
}
#slider ul {
    padding: 0;
    margin: 0;
}


#slider li img {
    height: 50vh;
}


.action a{

    background: darkorange;
    margin: 30px 0;
    font-size: 5vh;
    color: white;

    width: 100%;
    text-align: center;


}

.article, .production{
    max-width: 1200px;
    margin: 0 auto;

}
.article div{
    margin: 20px auto;
}

.article h1{
    margin: 20px auto;
    text-align: center;
    flex-wrap: nowrap;
}
.article div{
    padding: 10px;
}
.article p{
font-size: 20px;
}

.production{
    text-align: center;
}
.production h1{
    margin: 20px auto;
}
.block2 div{

}

footer{
    background-color: #212121;
    height: 50px;
    min-width: 700px;
}

@media screen and (max-width: 900px)
{

    .flex-700
    {
        flex-direction: column;
    }
    .region{
        display: none;
    }
    .search{
        display: none;
    }
    .article p {
        width: 100%;
    }
    .article div {
        width: 80%;
    }
   .production div{

   }


}



